.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  width: 50%;
  margin-left: 30px;
  margin: 20px 0;
}

.wrap {
  width: 80vw;
  margin-left: 20px;
}
