.ButtonAreaContainer {
  border-top: 1px solid #888;
  border-bottom: 1px solid #888;
  margin-left: calc(100vw - 160px);
  margin: 10px 0;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.installAppButton {
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
  margin: 0 0 0 12px;
  color: #fff;
  background-color: #008bf5;
  :hover {
    background-color: #0077cc;
    opacity: 0.8;
    box-shadow: 0 0 rgba(0, 0, 0, 0.1);
  }
}

.loadingIcon {
  font-size: 4rem;
}
