.wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.form-label {
  font-size: 1.6rem;
  margin-right: 20px;
  font-weight: 500;
  color: #000;
  margin-bottom: 0.5rem;
}
