.iconContainer {
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.Sidebar {
  height: 100vh;
  background: rgb(0, 110, 228);
  background: linear-gradient(
    180deg,
    rgba(0, 110, 228, 1) 0%,
    rgba(0, 110, 228, 1) 35%,
    rgba(0, 110, 228, 1) 100%
  );
}

.SidebarList {
  width: 100%;
  :active {
    background-color: #a3dcff;
  }
}

.SidebarList .row {
  width: 100%;
  max-width: 160px;
  min-width: 160px;
  height: 60px;
  display: flex;
  color: white;
  justify-content: center;
  align-items: center;
  &:hover {
    cursor: pointer;
    background-color: #a3dcff;
  }
}

.row #icon {
  flex: 30%;
  display: grid;
  place-items: center;
}

.row #title {
  flex: 70%;
}

.SidebarIcon {
  padding-top: 20px;
  padding-bottom: 15px;
  text-align: center;
}

.SidebarIcon img {
  width: 100px;
}

.SidebarIcon p {
  color: white;
  font-weight: 600;
  font-size: 13px;
}
