.ButtonAreaContainer {
  border-top: 1px solid #888;
  border-bottom: 1px solid #888;
  margin-left: calc(100vw - 160px);
  margin: 10px 0;
  padding: 8px 0;
}

.installAppButton {
  margin: 0 0 0 12px;
  color: #fff;
  background-color: #008bf5;
  :hover {
    background-color: #0077cc;
    opacity: 0.8;
  }
}
