.container {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  text-align: left;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  width: 50%;
}
.button {
  margin-top: 20px;
  margin-left: 32px;
}
