.cardContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cardList {
  height: 100%;
  width: 80%;
}
.row-cardContainer {
  width: 400px;
  padding: 0 20px;
  margin: 20px 0;
  height: 90px;
  justify-content: flex-start;
  background-color: #1777ff;
  border-radius: 10px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
  h4 {
    margin: 10px 0 0 0;
    padding-top: 10px;
    text-align: left;
    font-size: 1.3rem;
  }
  h3 {
    padding-bottom: 10px;
    text-align: center;
    font-size: 1.5rem;
  }
}
